<table width="100%" border="0" align="left" cellpadding="9" cellspacing="0">
  <tr valign="top">
	  <td colspan="3"><h2><%= link_to(venue.name, "http://foursquare.com/venue/#{venue.id}") -%></h2></td>
  </tr>
	<tr valign="top">
	  <td width="305"><img src="images/map.png"></td>
		<td width="100%"><strong><%= venue.name -%></strong><br /><%= venue.location.address -%><br /><%= venue.location.city%>, <%= venue.location.state %> <%= venue.location.postalCode%><br />
    <!--
    <br /><a href="#">@notmanhouse</a><br /><a href="#">notmanhouse.com</a></td>
    -->
		<td width="217"><img src="images/tweets.png"></td>
  </tr>
</table>

<br clear="all" />